* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #262626;
}

.outer-body {
}

.nav-bar {
  color: white;
  position: sticky;
  top: 0;
  height: 45px;
  z-index: 1000;
  background-image: url(../Assets/Pictures/cool-background.png);
  background-size: 300px;
  border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  filter: saturate(1);
  filter: contrast(1);
  filter: brightness(1);
  filter: drop-shadow(10);
  filter: grayscale(10);
}
.search-nav-bar {
  position: relative;
  top: 7px;
  margin: auto;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  background: rgb(36, 36, 36);
}
.search-nav-bar input {
  position: relative;
  background: transparent;
  border: 1px solid rgb(33, 33, 33);
  width: 90%;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 10px;
  text-align: center;
}
.nav-bar ul {
  top: 12px;
  position: absolute;
  right: 50px;
}
.nav-bar li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}
.nav-bar a:hover {
  color: rgb(73, 73, 73);
  text-decoration: underline;
}

.main-body {
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15px;
  z-index: 1000;
  /* background-image: url(../Assets/Pictures/Wic-Qsgy.png); */
}

.upper-bottom {
  color: rgb(169, 169, 169);
  padding-top: 1px;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 170px;
  height: 20px;
  background: rgb(44, 44, 44);
  margin: auto;
}
.text-upper-bottom {
  padding-left: 14px;
}

.lower-bottom {
  width: 100%;
  height: 5px;
  background: rgb(44, 44, 44);
}
